/node_modules
/out
/include
*.tsbuildinfo
src/shared/DataCreator.ts
src/server/ServerDataCreator.ts
src/server/test.server.ts
src/client/ClientDataManager.ts
src/server/ServerDataManager.ts
src/shared/DataManager.ts
